@layer fonts {
    /* plus-jakarta-sans-regular - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 400;
        src: url("../fonts/plus-jakarta-sans-v12-latin-regular.woff2")
            format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* plus-jakarta-sans-600 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 600;
        src: url("../fonts/plus-jakarta-sans-v12-latin-600.woff2")
            format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
    /* plus-jakarta-sans-700 - latin */
    @font-face {
        font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
        font-family: "Plus Jakarta Sans";
        font-style: normal;
        font-weight: 700;
        src: url("../fonts/plus-jakarta-sans-v12-latin-700.woff2")
            format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    }
}

@layer typography {
    :root {
        /* font family */
        --ff-plus-jakarta-sans: "Plus Jakarta Sans";
        /* font weight */
        --fw-regular: 400;
        --fw-semibold: 600;
        --fw-bold: 700;
        /* font size */
        --fs-24: calc(24 / 16 * 1rem);
        --fs-20: calc(20 / 16 * 1rem);
        --fs-18: calc(18 / 16 * 1rem);
        --fs-16: calc(16 / 16 * 1rem);
        --fs-14: calc(14 / 16 * 1rem);
    }

    body {
        --fs-body: var(--fs-16);

        font-family: var(--ff-plus-jakarta-sans), Arial, Helvetica, sans-serif;
        font-size: var(--fs-body);
        font-weight: var(--fw-regular);
        line-height: 1.5;
    }

    h2 {
        --fs-h2: var(--fs-24);

        font-size: var(--fs-h2);
        font-weight: var(--fw-semibold);
        line-height: 1.2;
    }

    h3 {
        --fs-h3: var(--fs-20);

        font-size: var(--fs-h3);
        font-weight: var(--fw-semibold);
    }

    button {
        --fs-button: var(--fs-16);

        font-family: var(--ff-plus-jakarta-sans), Arial, Helvetica, sans-serif;
        font-size: var(--fs-button);
        font-weight: var(--fw-semibold);
        line-height: 1.2;
    }
}

@layer color {
    :root {
        --color-white: hsl(0, 0%, 100%);
        --color-black: hsl(0, 0%, 0%);
        --color-teal: hsl(174, 59%, 56%);
        --color-gray-900: hsl(218, 23%, 23%);
        --color-gray-700: hsl(218, 8%, 46%);
        --color-gray-100: hsl(210, 17%, 98%);
        --color-gradient-white: linear-gradient(
            to bottom right,
            hsla(0, 0%, 100%, 0.82),
            hsla(0, 0%, 100%, 0.8)
        );
    }

    body {
        --color-body-bg: var(--color-gray-100);
        --color-body-text: var(--color-gray-700);

        background: var(--color-body-bg);
        color: var(--color-body-text);
    }

    a {
        color: inherit;
    }
}

@layer base {
    *,
    *::before,
    *::after {
        box-sizing: border-box;
    }

    * {
        margin: 0;
    }

    input,
    button {
        padding: 0;
        display: block;
        outline: none;
    }

    img,
    svg {
        display: block;
        width: 100%;
        height: auto;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    a {
        text-decoration: none;
    }
}

@layer layout {
    .grid-container {
        margin: calc(40 / 16 * 1rem);
        display: grid;
        grid-template-columns: auto 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas:
            "sidenav header"
            "sidenav main";
        gap: calc(40 / 16 * 1rem);
    }

    .side-nav {
        width: 280px;
        background-color: red;
        grid-area: sidenav;
        height: 100vh;
    }

    .main {
        width: 1520px;
        height: 100vh;
        grid-area: main;
        color: blueviolet;
    }
}

@layer header {
    .header {
        --color-header-bg: var(--color-teal);
        --color-header-text: var(--color-white);
        --color-header-icon: var(--color-white);

        width: calc(1520 / 16 * 1rem);
        height: calc(240 / 16 * 1rem);

        grid-area: header;
    }

    .top-row {
        position: relative;

        width: 100%;
        height: calc(200 / 16 * 1rem);
        background: var(--color-header-bg);
        border-radius: 1rem;

        > .wrapper {
            display: flex;
            align-items: center;
            justify-content: end;
            padding-top: 2rem;
            padding-right: 2rem;
        }
    }

    .top-row::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: calc(200 / 16 * 1rem);
        background-image: url(../images/header-bg-image.png);
        background-position: center;
        background-repeat: no-repeat;
    }

    .search-form {
        --color-form-bg: var(--color-white);
        --color-form-placeholder: var(--color-gray-700);
        --color-form-icon: var(--color-gray-900);

        --fs-form: var(--fs-14);

        position: relative;
        margin-right: calc(24 / 16 * 1rem);
    }

    .search-icon {
        width: 1rem;
        position: absolute;
        top: 13px;
        left: 1rem;
        color: var(--color-form-icon);
    }

    .search-input {
        width: calc(240 / 16 * 1rem);
        padding-block: calc(12 / 16 * 1rem);
        padding-left: calc(42 / 16 * 1rem);
        border: none;
        outline: none;
        border-radius: 1rem;
        font-family: inherit;
        font-size: var(--fs-form);

        &::placeholder {
            color: var(--color-form-placeholder);
        }
    }

    .notification-icon {
        width: 1.125rem;
        fill: var(--color-header-icon);
        margin-right: 1rem;
    }

    .user-account {
        display: flex;
        align-items: center;
        gap: 0.5rem;
    }

    .image-container {
        width: 2rem;
        height: 2rem;
        object-fit: cover;
        overflow: hidden;
        border-radius: 1rem;

        .image {
            width: calc(50 / 16 * 1rem);
            height: auto;
            position: relative;
            top: -15px;
            left: -9px;
        }
    }

    .name {
        color: var(--color-header-text);
        font-weight: var(--fw-semibold);
    }
}
